{% extends "base.html" %}
{% block title %} Display {% endblock%}

{% block content %} 
  {% if people %}
    <table border="1">
      <tr>
        <th>Name</th>
        <th>Homeworld</th>
        <th>Climate</th>
      </tr>
    {% for guy in people %}
    <tr>
      <td>{{ guy.name }}</td>
      <td>{{ guy.homeworld.name }}</td>
      <td>{{ guy.homeworld.climate }}</td>
    </tr>
    {% endfor %}
    </table>
  {% else %}
    No data available, please use the following command line before use:<br>
    python3 manage.py loaddata ex09_initial_data
  {% endif %}
{% endblock %}