{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %} ChatRooms List {% endblock%}

{% block content %} 

<div class="container-fluid p-0 mt-3">
<table class="table w-100">
  <thead>
    <tr>
      <th class="col-3">Name</th>
      <th class="col">Description</th>
      <th class="col-1"></th>
    </tr>
  </thead>

  <tbody>
    {% for chatroom in chatrooms %}
    <tr>
      <td>{{ chatroom.name }}</td>
      <td>{{ chatroom.description }}</td>
      <td>
        <a href="{% url 'chatroom' chatroom.pk %}" class="btn btn-info text-light">GO</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<script>


</script>

{% endblock %}